.chat-sidebar {
    width: 300px;
    height: 80vh;
    background-color: black;
    border: 1px solid #cccccccd;
    border-radius: 10px; /* Added border-radius */
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 30px;
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}

.synthesize-icon {
    color: white;
    font-size: 20px;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
    filter: brightness(0) invert(1);
    width: 20px;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}
.chat-message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    max-width: 80%;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}
.chat-message.user {
    background-color: #000000;
    color: white;
    align-self: flex-end;
    text-align: left;
    margin-left: auto;
    border: 1px solid #007bff; /* Given border color for user messages */
    border-radius: 10px; /* Added border-radius */
    width: fit-content;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}

.chat-message.llm {
    background-color: #000000;
    color: white;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    border: 1px solid #ff4500; /* Given border color for LLM messages */
    border-radius: 10px; /* Added border-radius */
    width: fit-content;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-radius: 10px; /* Added border-radius */
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}

.chat-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}

.chat-input button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}

.loading-bar {
    margin-top: 10px;
    padding: 8px;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px; /* Make font size smaller */
}

.chat-input button:hover {
    background-color: #0056b3;
    font-weight: bold; /* Make font bold */
    font-size: 11px; /* Make font size smaller */
}
